<div class="page-title">Reset Password</div>

<form [formGroup]="form">

    <p>
        <mat-form-field appearance="fill" class="pwd-field">
            <mat-label>Current Password*</mat-label>
            <input matInput type="password" name="currentPassword" id="currentPassword" formControlName="currentPassword">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="fill" class="pwd-field">
            <mat-label>New Password*</mat-label>
            <input matInput type="password" name="newPassword" id="newPassword" formControlName="newPassword">
            <mat-error>
                The password must be at least 8 characters long and must have at least one of each lowercase letter, uppercase letter and a number.
            </mat-error>
        </mat-form-field>
    </p>

    <div class="dialog-button">
        <button [disabled]="actionInProgress" mat-raised-button color="primary" type="submit" (click)="onSave(form.value)">Reset</button>
    </div>
</form>