<div class="container">
    <mat-card class="username-card"> 

        <div class="page-title">Forgot Your Password?</div>

        <mat-card-content class="content">
            <p>
                No Worries!
            </p>
            
            <p>
                Please enter your username. We will send you the link to reset your password.
            </p>
        </mat-card-content>

        <form [formGroup]="form" (ngSubmit)="save(form.value)">

            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput name="username" id="username" formControlName="username">
                </mat-form-field>
            </p>

            <button mat-raised-button color="primary" type="submit">
                Save
            </button>
        </form>
    </mat-card>
</div>

